
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Maldini <strong>blog</strong>
                </h2>
                <hr>
            </div>
            <div class="col-lg-12 text-center">
                <img src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/kitchen-countertops-10.jpg?time=1627269234" align="center" class="img-responsive img-border img-full"/>
                <h2>
                    Marble specials
                    <br>
                    <small>October 13, 2020</small>
                </h2>
                <p>we are glad to introduce the ground launch of our new product.</p>
                <hr>
            </div>

        </div>
    </div>

