
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <style>
    </style>
    <h1 class="page-header">
        Maldini Granite&Marbles
        <small> | Administrative Homepage</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink("Contacts Complaints", "AdminContact", "Contacts")
        </li>
        <li>@Html.ActionLink("Orders", "AdminOrders", "Orders")</li>
        <li>@Html.ActionLink("Products", "Index", "Products")</li>
        
    </ol>

</div>

