
@{
    ViewBag.Title = "Furniture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/anim.js"></script>
<style>
      strong {
        color: brown;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .row{margin-left:70px;}
</style>
<h2 data-scrollreveal="enter top over 1.0s after 0.1s">Furniture Designs</h2>

@Html.Partial("Pagination")

<div class="passion">
<div class="textwidget">
<p> </p>

                    <style type='text/css'>
                    #gallery-2 {
                    margin: auto;
                    }
                    #gallery-2 .gallery-item {
                    float: left;
                    margin-top: 10px;
                    text-align: center;
                    width: 25%;
                    }
                    #gallery-2 img {
                    border: 2px solid #cfcfcf;
                    }
                    #gallery-2 .gallery-caption {
                    margin-left: 0;
                    }
                    </style>
                    <!-- see gallery_shortcode() in wp-includes/media.php -->
		<div id='gallery-2' class='gallery galleryid-111 gallery-columns-4 gallery-size-thumbnail'><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/4.jpg?time=1627269234" data-slb-active="1" data-slb-asset="1657905623" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/4-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/4-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/4-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/3095-a.png?time=1627269234" data-slb-active="1" data-slb-asset="951417269" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/3095-a-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/3095-a-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/3095-a-300x300.png 300w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/3095-a-230x230.png 230w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/3095-a-350x351.png 350w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/3095-a-45x45.png 45w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/3095-a.png 499w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/black_marble_furniture1.png?time=1627269234" data-slb-active="1" data-slb-asset="484331500" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/black_marble_furniture1-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/black_marble_furniture1-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/black_marble_furniture1-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Untitled-1.png?time=1627269234" data-slb-active="1" data-slb-asset="1264828016" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Untitled-1-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Untitled-1-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Untitled-1-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><br style="clear: both" /><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0879.png?time=1627269234" data-slb-active="1" data-slb-asset="1193329198" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0879-150x150.png" class="attachment-thumbnail size-thumbnail" alt="Marble rounded side tables Designed and produced by Maldini Granite and Marbles Nigeria LTD." loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0879-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0879-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/8.jpg?time=1627269234" data-slb-active="1" data-slb-asset="1440092586" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/8-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/8-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/8-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0878.png?time=1627269234" data-slb-active="1" data-slb-asset="209520709" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0878-150x150.png" class="attachment-thumbnail size-thumbnail" alt="Granite slabs formed into table. Designed and produced by Maldini Granite and Marbles Nigeria LTD." loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0878-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0878-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/5.jpg?time=1627269234" data-slb-active="1" data-slb-asset="2115351964" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/5-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/5-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/5-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><br style="clear: both" /><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0862.png?time=1627269234" data-slb-active="1" data-slb-asset="436555384" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0862-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0862-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0862-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/7.jpg?time=1627269234" data-slb-active="1" data-slb-asset="1109188510" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/7-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/7-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/7-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0861.png?time=1627269234" data-slb-active="1" data-slb-asset="495582806" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0861-150x150.png" class="attachment-thumbnail size-thumbnail" alt="Granite Side Stool designed and produced by Maldini Granite and Marbles Nigeria LTD" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0861-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0861-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/1.png?time=1627269234" data-slb-active="1" data-slb-asset="867749856" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/1-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/1-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/1-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><br style="clear: both" /><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0860.png?time=1627269234" data-slb-active="1" data-slb-asset="2018347757" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0860-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0860-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0860-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl>
                <br style='clear: both;' />
                </div>

</div>
</div>
</div>
</div>

