
@{
    ViewBag.Title = "Kitchen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
        strong {
        color: brown;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .row{margin-left:70px;}
</style>
<h2 data-scrollreveal="enter top over 1.0s after 0.1s">Kitchen Designs</h2>
@Html.Partial("Pagination")
<div class="passion">

   <div class="textwidget">

                    <style type='text/css'>
                    #gallery-5 {
                    margin: auto;
                    }
                    #gallery-5 .gallery-item {
                    float: left;
                    margin-top: 10px;
                    text-align: center;
                    width: 20%;
                    }
                    #gallery-5 img {
                    border: 2px solid #cfcfcf;
                    }
                    #gallery-5 .gallery-caption {
                    margin-left: 0;
                    }
                    </style>
                    <!-- see gallery_shortcode() in wp-includes/media.php -->
		<div id='gallery-5' class='gallery galleryid-111 gallery-columns-5 gallery-size-thumbnail'><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0887.png?time=1627269234" data-slb-active="1" data-slb-asset="881860527" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0887-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0887-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0887-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/kitchen-counters-in-granite-marble.jpg?time=1627269234" data-slb-active="1" data-slb-asset="750335854" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/kitchen-counters-in-granite-marble-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/kitchen-counters-in-granite-marble-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/kitchen-counters-in-granite-marble-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/granitas-interjere-04.jpg?time=1627269234" data-slb-active="1" data-slb-asset="1512124895" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/granitas-interjere-04-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/granitas-interjere-04-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/granitas-interjere-04-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/Granite-Kitchen-Countertops-Design-With-Contemporary-Kitchen-Interior.jpg?time=1627269234" data-slb-active="1" data-slb-asset="1343162412" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/Granite-Kitchen-Countertops-Design-With-Contemporary-Kitchen-Interior-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/Granite-Kitchen-Countertops-Design-With-Contemporary-Kitchen-Interior-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/Granite-Kitchen-Countertops-Design-With-Contemporary-Kitchen-Interior-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/DSC_0407.jpg?time=1627269234" data-slb-active="1" data-slb-asset="409612536" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/DSC_0407-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/DSC_0407-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/DSC_0407-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><br style="clear: both" /><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/granite-kitchen-countertop.jpg?time=1627269234" data-slb-active="1" data-slb-asset="1232701031" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/granite-kitchen-countertop-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/granite-kitchen-countertop-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/granite-kitchen-countertop-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/kitchen-countertops-10.jpg?time=1627269234" data-slb-active="1" data-slb-asset="1922940975" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/kitchen-countertops-10-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/kitchen-countertops-10-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/kitchen-countertops-10-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/cimg0010.jpg?time=1627269234" data-slb-active="1" data-slb-asset="2097404562" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/cimg0010-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/cimg0010-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/cimg0010-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/compare-prices-granite-kitchen-countertops.jpg?time=1627269234" data-slb-active="1" data-slb-asset="202648382" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/compare-prices-granite-kitchen-countertops-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/compare-prices-granite-kitchen-countertops-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/compare-prices-granite-kitchen-countertops-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3264.png?time=1627269234" data-slb-active="1" data-slb-asset="1176896153" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3264-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3264-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3264-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><br style="clear: both" /><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Living-Room-five.png?time=1627269234" data-slb-active="1" data-slb-asset="1981355671" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Living-Room-five-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Living-Room-five-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Living-Room-five-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl>
                <br style='clear: both;' />
                </div>

</div>
</div>
</div>
</div>


