
@{
    ViewBag.Title = "RestRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
       strong {
        color: brown;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .row{margin-left:70px;}
</style>
<h2 data-scrollreveal="enter top over 1.0s after 0.1s">RestRoom Designs</h2>
@Html.Partial("Pagination")
<div class="passion">

  <div class="textwidget">

                    <style type='text/css'>
                    #gallery-4 {
                    margin: auto;
                    }
                    #gallery-4 .gallery-item {
                    float: left;
                    margin-top: 10px;
                    text-align: center;
                    width: 25%;
                    }
                    #gallery-4 img {
                    border: 2px solid #cfcfcf;
                    }
                    #gallery-4 .gallery-caption {
                    margin-left: 0;
                    }
                    </style>
                    <!-- see gallery_shortcode() in wp-includes/media.php -->
		<div id='gallery-4' class='gallery galleryid-111 gallery-columns-4 gallery-size-thumbnail'><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Toilet.png?time=1627269234" data-slb-active="1" data-slb-asset="1680469131" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Toilet-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Toilet-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Toilet-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Single-Sink.png?time=1627269234" data-slb-active="1" data-slb-asset="1948488445" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Single-Sink-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Single-Sink-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Single-Sink-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Rest-Room.png?time=1627269234" data-slb-active="1" data-slb-asset="847710451" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Rest-Room-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Rest-Room-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Rest-Room-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Hand-Sink.png?time=1627269234" data-slb-active="1" data-slb-asset="1570036932" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Hand-Sink-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Hand-Sink-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/Hand-Sink-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><br style="clear: both" /><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3256.png?time=1627269234" data-slb-active="1" data-slb-asset="1617574227" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3256-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3256-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3256-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3258.png?time=1627269234" data-slb-active="1" data-slb-asset="811186580" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3258-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3258-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3258-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3261.png?time=1627269234" data-slb-active="1" data-slb-asset="1014429158" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3261-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3261-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_3261-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/1226.jpg?time=1627269234" data-slb-active="1" data-slb-asset="240588568" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/1226-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/1226-150x150.jpg 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/03/1226-45x45.jpg 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><br style="clear: both" /><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Living-Room-Six.png?time=1627269234" data-slb-active="1" data-slb-asset="753284560" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Living-Room-Six-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Living-Room-Six-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Living-Room-Six-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Bath-Room.png?time=1627269234" data-slb-active="1" data-slb-asset="187865188" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Bath-Room-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Bath-Room-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Bath-Room-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Bath-Room-2.png?time=1627269234" data-slb-active="1" data-slb-asset="113617780" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Bath-Room-2-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Bath-Room-2-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Bath-Room-2-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl>
                <br style='clear: both;' />
                </div>

</div>
</div>
</div>
</div>


