
@{
    ViewBag.Title = "Granite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
   strong {
        color: brown;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .row{margin-left:70px;}
    
</style>
<h2 data-scrollreveal="enter top over 1.0s after 0.1s">Staircase Designs</h2>
@Html.Partial("Pagination")
<div class="passion">
<div class="textwidget">

                    <style type='text/css'>
                    #gallery-3 {
                    margin: auto;
                    }
                    #gallery-3 .gallery-item {
                    float: left;
                    margin-top: 10px;
                    text-align: center;
                    width: 25%;
                    }
                    #gallery-3 img {
                    border: 2px solid #cfcfcf;
                    }
                    #gallery-3 .gallery-caption {
                    margin-left: 0;
                    }
                    </style>
                    <!-- see gallery_shortcode() in wp-includes/media.php -->
		<div id='gallery-3' class='gallery galleryid-111 gallery-columns-4 gallery-size-thumbnail'><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0896.png?time=1627269234" data-slb-active="1" data-slb-asset="477225754" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0896-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0896-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0896-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0882.png?time=1627269234" data-slb-active="1" data-slb-asset="1493328764" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0882-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0882-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2016/05/IMG_0882-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Stairs2-e1507349208567.png?time=1627269234" data-slb-active="1" data-slb-asset="657930535" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Stairs2-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Stairs2-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Stairs2-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><dl class='gallery-item'>
                    <dt class='gallery-icon'>
                    <a href="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Hall-Way.png?time=1627269234" data-slb-active="1" data-slb-asset="1390221466" data-slb-group="111"><img width="150" height="150" src="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Hall-Way-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" srcset="https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Hall-Way-150x150.png 150w, https://secureservercdn.net/104.238.68.130/88t.64b.myftpupload.com/wp-content/uploads/2017/10/Hall-Way-45x45.png 45w" sizes="(max-width: 150px) 100vw, 150px" /></a>
                    </dt></dl><br style="clear: both" />
                <br style='clear: both;' />
                </div>

</div>
</div>
</div>
   
    
</div>


