
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CONGRATULATIONS</h2>

<strong>You have successfully Booked a Product our team will reach out to you in 15mins redirect back to @Html.ActionLink("Products", "Index", "Products")</strong>