@{
    ViewBag.Title = "About";
}

<h2 align="center"> About us</h2>
<p>Maldini Granites &amp; Marble Imports Limited was established in 1997. From humble beginnings, the company has grown to become Nigeria&#8217;s largest stocker of stones: granites and marble slabs/tiles etc., while offering other finishing products such as ceramic, vitrified and mosaic tiles, marble furniture (pulpits) and tombstones</p>
<p>Maldini has its head office in Surulere, Lagos, with branch offices in Lekki, Abuja, Port Harcourt, Calabar and Enugu delivering quality services to it&#8217;s numerous customers.</p>
<p>The company also has access to a pool of competent technical crew involved in consultancy, fixing and handling of its range of products to ensure customer satisfaction and informed products knowledge. </p>
<p>Maldini Granites &amp; Marbles leverages largely on its commitment to providing customers with superior quality products at timely delivery schedules.</p>
<p>It took millions of years to create the stone. It takes only a few minutes to select the stone company. Selecting a stone is more that choosing a style and color. Some stones are too porous to be used for counters and worktop. Others are too delicate for high traffic areas.</p>
<p>That’s where we come in. Not only do we stock the most gorgeous stone you’ll find anywhere, we’ll help you select the rights stone for your purpose</p>
<p>Our vision<br />To be the foremost marble stoker in Nigeria in terms of quality, variety and stock</p>
<ol>
    <li>To employ and retain a motivated committed staff in the industry</li>
    <li>To infuse passion, team work and focus in all out dealings</li>
    <li>To have a stone quarry polishing factory by 2018</li>
    <li>To become Nigeria’s foremost granite/marbles exporters by 2020</li>
</ol>
<p>Our Mission<br />To offer optimum satisfaction and fulfillment to our clientele at all times <a href="https://maldinigraniteandmarbles.com/contact-us">contact us</a>.</p>
<p><iframe loading="lazy" src="https://www.youtube.com/embed/Tu7dxf50lqE" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
</div>